@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;

    &:focus {
        outline: none;
    }
}

::selection {
    background-color: #fff;
    color: rgb(5, 5, 5);

}

body {
    background-color: #202035;
    padding: 50px;
}

.component {
    background-color: #1B1B30;
    border-radius: 10px;
    margin-bottom: 25px;

    &--help {
        padding: 40px 50px;

        h5 {
            color: #BBBBD7;
            font-weight: normal;
            margin-bottom: 25px;
            font-size: 36px;
        }

        form {
            input {
                background: #2A2A42 url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Ccircle cx='14.1667' cy='14.1667' r='9.91667' stroke='white' stroke-width='2.125' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M29.75 29.75L21.25 21.25' stroke='white' stroke-width='2.125' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat 25px;
                width: 100%;
                height: 72px;
                padding: 0 75px;
                border-radius: 5px;
                caret-color: #fff;
                font-size: 18px;
                color: #fff;

                &::placeholder {
                    color: rgba(#fff, .6);
                }
            }
        }
    }

    &--sidebar {
        width: 300px;
        padding: 30px 40px 30px;

        h3 {
            color: #BBBBD7;
            font-size: 18px;
            margin-bottom: 13px;
            font-weight: bold;
        }

        nav {
            ul {
                li {
                    margin-bottom: 6px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    a {
                        color: #786CD5;
                        transition: 300ms color ease-in-out;

                        &:hover {
                            color: lighten(#786CD5, 15%);
                        }
                    }
                }
            }
        }

        hr {
            border: 2px solid #141428;
            margin: 25px 0;
        }

        p {
            color: #BBBBD7;
            margin-bottom: 20px;
        }

        .submit {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-weight: 700;
            background-color: #786CD5;
            border-radius: 5px;
            padding: 18px 90px;
            cursor: pointer;
            transition: 400ms background-color ease-in-out;

            &:hover {
                background-color: darken(#786CD5, 10%);
            }
        }
    }

    &--link {
        ul {
            
            li {
                margin-bottom: 15px;
                transition: 300ms transform ease-in-out;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    display: flex;
                    justify-content: space-between;
                    background-color: #1b1b30;
                    padding: 30px;
                    .inner-item {
                        .title {
                            display: block;
                            color: #BBBBD7;
                            font-size: 18px;
                            font-weight: bold;
                            margin-bottom: 20px ;
                            transition: 300ms color ease;

                            &:hover {
                                color: lighten(#BBBBD7, 15%);
                            }
                        }

                        .description {
                            display: block;
                            color: #BBBBD7;
                            transition: 300ms color ease;

                            &:hover {
                                color: lighten(#BBBBD7, 10%);
                            }
                        }
                    }

                    .category {
                        display: inline-flex;
                        align-items: center;
                        height: 36px;
                        margin-left: 40px;
                        padding: 0 18px;
                        color: var(--color);
                        position: relative;
                        transition: 300ms opacity ease;
                        &::before {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            background-color: var(--color);
                            border-radius: 36px;
                            opacity: .05;
                        }

                        &:hover {
                            opacity: .8;
                        }
                    }
                }

                &:hover {
                    transform: scale(1.02);
                }
            }
        }
    }
}