@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

  &:focus {
    outline: 0;
  }
}

html, body {
  height: 100%;
}

body {
  font-family: 'Mulish', sans-serif;
  background: #DAE1F5;
  display: flex;
  flex-direction: column;
}

footer {
  background: #fff;
  border-top: 5px solid #10182F;
  margin-top: auto;
  padding: 70px 100px;

  .footer-top {
    display: flex;
    align-items: flex-start;

    .logo {
      display: flex;
      align-items: center;
    }

    .footer-menu {
      display: flex;
      margin-left: auto;

      nav {
        min-width: 180px;
        margin: 0 180px 80px 0;

        h5 {
          color: #222C46;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 25px;
        }

        ul {
          li {
            a {
              display: inline-block;
              color: #545D7A;
              font-size: 16px;
              padding: 10px 0;
              position: relative;
              z-index: 1;

              &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                background-color: #545D7A;
                transition: 300ms width;
                z-index: -1;
              }

              &:hover {
                color: #2A2A42;

                &::before {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin-right: 200px;
      font-size: 14px;
      color: #545D7A;
    }

    nav {
      display: flex;

      ul {
        display: flex;

        li {
          a {
            display: inline-block;
            font-size: 14px;
            color: #545D7A;
            margin-right: 65px;
            position: relative;
            z-index: 1;
            padding: 10px 0;

            &::before {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 0;
              height: 2px;
              background-color: #545D7A;
              transition: 300ms width;
              z-index: -1;
            }

            &:hover {
              color: #2A2A42;

              &::before {
                width: 100%;
              }
            }
          }
        }
      }
    }

    .social {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 100px;

      li {
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 48px;
          height: 48px;
          border-radius: 50%;
          transition: 300ms background-color;

          img {
            opacity: .55;
            transition: 300ms opacity;
          }

          &:hover {
            background-color: rgba(#10182F, .05);

            img {
              opacity: 1;
              border: 1px solid #DAE1F5;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}